.radiobuttons{
    float: left;
    max-width: 150;
    text-align: left;
}
.iconbutton img {
    cursor: pointer;
    vertical-align: middle;
    padding: 0px;
    text-align: center;
    width: 15px;
    height: 15px;
    max-height: 15px;
    max-width: 15px;
    margin: 5px;
}
.tight {
    width: 20px;
}
.textcenter {
    text-align: center;
    vertical-align: middle;
    text-align-last: center;
}
.resultrow {
    padding-left: 5px;
    padding-right: 5px;
}
.bold {
    font-weight: bold;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 2px;
}
.butt{
    width: 150px;
    vertical-align: middle;
}
.floatleft{
    float: left;
}
.block {
    display: block;
}
.lowspace {
    margin: 6px;
}