.off {
    display: none;
}
.onblock{
    display: block;
}
.checkboxeslabel{
    float: left;
    width: 100px;
}
.comment{
    float: left;

    text-wrap: normal;
    width: 200px;
}
.checkboxesselect{
    float: left;

    text-wrap: normal;
    width: 200px;
}
.lowspace {
    margin: 6px;
}
.bigspace{
    margin: 15px;
}
.creationform{
    width: 350px;
    float: none;
    display: block;
    position: relative;
}
.chooseform{
    width: 400px;
}

.button{
    width: 100px;
    vertical-align: middle;
    text-align: center;
}
.fullwidth{
    width: 100%;
}
.noborder{
    border: 0px;
}
.errorbox{
    background-color: #FFFF00;
    color: #FF0000;
}
.blackonwhite {
    color: #000000;
    background-color: transparent;
}