#vacations .date, #createVacation .date {
    text-align: center;
}

#vacations .centered, #createVacation .centered {
    text-align: center;
}

#vacations .summary {
    font-weight: bold;
}

.create-button, .delete-button {
    cursor: pointer;
    vertical-align: middle;
    padding: 0;
    text-align: center;
}

.create-button img, .delete-button img {
    vertical-align: middle;
    width: 15px;
    height: 15px;
    max-height: 15px;
    max-width: 15px;
    margin: 5px;
}

table.without_borders td {
    border: none !important;
    padding: 5pt 0 !important;
}

.label {
    font-weight: bold;
}

.error {
    font-weight: bold;
    color: red;
}

.activity-indicator {
    cursor: wait;
}

.dijitTitlePaneContentInner {
    padding: 0 !important;
}