#viewreports .statusHoliday{
    color: brown;
}
#viewreports .duration{
    text-align: right;
}
#viewreports .date{
    text-align: center;
}
#viewreports .statusNormalDay .date{
    font-weight: bold;
}
#viewreports .statusWorkOnHoliday .date{
    font-weight: bold;
}
#viewreports thead{
    font-weight: bold;
}
#normainweek{
    width: 100%;
    text-align: right;
}

#durationall, #durationplan {
    text-align: right;
}