<h1 align="justify"><b>Указанные ниже сотрудники "${division}" не заполнили отчеты за предшествующие рабочие дни</b></h1>
<table border = "2">
      <tr>
        <td><b>Сотрудник</b></td>
        <td><b>Должность</b></td>
        <td><b>Руководитель</b></td>
          #if($region=="show")
              <td><b>Регион</b></td>
          #end
        <td><b>Пропущенные дни</b></td>
      </tr>
    #if($region=="show")
        #foreach($reportCheck in $reportCheckList)
            <tr>
                <td><b> $reportCheck.employee.name </b></td>
                <td><b> $reportCheck.employee.job.name </b></td>
                <td><b>
                    #if ($reportCheck.employee.manager != $null)
                    $reportCheck.employee.manager.name
                    #end
                </b></td>
                <td>
                    $reportCheck.employee.region.name
                </td>
                <td>
                    <ol>
                        #foreach($day in $reportCheck.passedDays)
                            <li><b> $day </b></li>
                        #end
                    </ol>
                </td>
            </tr>
        #end
    #else
        #foreach($reportCheck in $reportCheckList)
          <tr>
            <td><b> $reportCheck.employee.name </b></td>
            <td><b> $reportCheck.employee.job.name </b></td>
            <td><b>
                #if ($reportCheck.employee.manager != $null)
                $reportCheck.employee.manager.name
                #end
            </b></td>
            <td>
            <ol>
                #foreach($day in $reportCheck.passedDays)
                <li><b> $day </b></li>
                #end
            </ol>
            </td>
          </tr>
        #end
    #end
</table>