<p>Сотрудник: <b>$timeSheet.getEmployee().getName()</b></p>
#set ($tsDetails = $timeSheet.getTimeSheetDetails())
#set ($isProblems = $false) 
#set ($projectName = $"")
#set ($plan = $timeSheet.getPlanEscaped())
#if ($tsDetails != $null)
	<ul>			
	<li><h2><b>Что было сделано:</b></h2></li>
	<ol>
	#foreach($tsDetail in $tsDetails)
        #set ($workplaceId = $"")
		#set ($actTypeId = $"")
		#set ($cqId = $"")
		#set ($duration = $"")
		#set ($description = $"")
		#set ($actCatId = $"")
		#set ($projectId = $"")
		#set ($problem = $"")
        #set ($workplaceId = $tsDetail.getWorkplace().getId())
		#set ($actTypeId = $tsDetail.getActType().getId())
		#set ($cqId = $tsDetail.getCqId())
		#set ($duration = $tsDetail.getDuration())
		#set ($description = $tsDetail.getDescriptionEscaped())
		#set ($actCatId = $tsDetail.getActCat().getId())
		#set ($projectId = $tsDetail.getProject().getId())
		#set ($problem = $tsDetail.getProblemEscaped())
		#if ($actTypeId != $null && $actTypeId.equals($"") != $true)
			#if ($projectId != $null)
				#set ($projectName = $projectService.find($projectId).getName())
			#end
			#if ($problem != $null && $problem.equals($"") != $true)
				#set ($isProblems = $true)
			#end 
	<li>
        <b> Место работы:
            #if ($workplaceId != $null && !$workplaceId.equals($""))
                $dictionaryItemService.find($workplaceId).getValue()
            #else
                Неизвестно
            #end
            </br>
        </b>
		<b> $dictionaryItemService.find($actTypeId).getValue() </b>
			#if ($actTypeId <= 13) 
		<b> $projectName </b>
			#end
			#if ($actCatId != $null && $actCatId > 0) 
		<b> - $dictionaryItemService.find($actCatId).getValue() </b>
			#end
			#if ($cqId != $null && $cqId.equals($"") != $true) 
		<b> - $cqId </b>
			#end
			#if ($duration != $null && $duration.equals($"") != $true) 
		<b> ( $duration ч.)</b>
			#end
			#if ($description.equals($"") != $true) 
		<b>: </b><br>
				#set ($descriptionStrings = $description.split("\n"))
				#foreach ($descriptionString in $descriptionStrings)
		<span>$descriptionString</span><br>
				#end
			#end
	</li>
		#else
	<b> Ошибочно заполнена строка отчета</b>
		#end
	#end
	</ol>
	#if ($isProblems == $true)
	<li><h2><b>Какие проблемы возникли:</b></h2></li>
	<ol>
		#foreach($tsDetail in $tsDetails)
			#set ($actTypeId = $"")
			#set ($actCatId = $"")
			#set ($projectId = $"")
			#set ($problem = $"")
			#set ($actTypeId = $tsDetail.getActType().getId())
			#set ($actCatId = $tsDetail.getActCat().getId())
			#set ($projectId = $tsDetail.getProject().getId)
			#set ($problem = $tsDetail.getProblemEscaped())
			#if ($actTypeId != $null)
				#if ($projectId != $null)
					#set ($projectName = $tsDetail.getProject().getName())
				#end
				#if ($problem != $null && $problem.equals($"") != $true) 
	<li>
		<b> $dictionaryItemService.find($actTypeId).getValue() </b>
					#if ($actTypeId <= 13) 
		<b>	$projectName </b>
					#end
		<b>: </b><br> 
					#set ($problemStrings = $problem.split("\n"))
					#foreach ($problemString in $problemStrings)
		<span>$problemString</span><br>
					#end
	</li>
				#end
			#else
		<b> Ошибочно заполнена строка отчета</b>
			#end
		#end 
	</ol>
	#end
	#if ($plan != $null && $plan.equals($"") != $true)
	<li><h2><b>Что планируется сделать на следующий день:</b></h2></li>
		#set ($planStrings = $plan.split("\n"))
		#foreach ($planString in $planStrings)
	<span>$planString</span><br>
		#end
	#end
	</ul>
#else
	#if ($tsDetails == $null && ($timeSheet.isLongIllness() || $timeSheet.isLongVacation()))
		#if ($timeSheet.isLongIllness()) 
	<p>Болезнь с 
		#elseif ($timeSheet.isLongVacation())  
	<p>Отпуск с 
		#end
 	$DateTimeUtil.formatDateString($timeSheet.getBeginLongDate()) по  $DateTimeUtil.formatDateString($timeSheet.getEndLongDate())</p>
	#end
#end
