<h2 align="justify"> По данному заявлению уже приняли решение следующие лица</h2>
<table border = "2">
    <tr>
        <td><b>Роль сотрудника</b></td>
        <td><b>Фамилия Имя сотрудника</b></td>
        <td><b>Решение</b></td>
    </tr>
    #foreach($approval in $approvalList)
    <tr>
        <td>
            <ol>
                $approval.role
            </ol>
        </td>
        <td>
            <ol>
                $approval.name
            </ol>
        </td>
        <td>
            <ol>
                $approval.result
            </ol>
        </td>
    </tr>
    #end
</table>